<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="publicfiles/css/index.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <h1>AMU-ICT-STORE</h1>
      <h3><a href="./login/login.html">LOG IN</a></h3>
    </header>

    <section class="home-section" id="home">
      <div class="content">
        <h1>Welcome to store <br />management website</h1>
        <a href="./login/login.html">LOG IN</a>
      </div>

      <div class="photo">
        <img src="publicfiles/photo/Asset 4.png" class="photodiv" />
      </div>
    </section>

    <footer>
      <p>
        &copy; Copyright © 2023 AMU-ICT-STORE-MANAGEMENT - ALL RIGHTS RESERVED @
      </p>
    </footer>

  </body>
</html>
