*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #0082e6b9; /* Set the color of the scrollbar thumb */
}

html{
  scroll-behavior: smooth;
}
/* header strt*/
/* nav {
  background: #0082e6b9;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 1;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 100px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
} */

a.active, a:hover {
  background: #1b9bff;
  transition: .5s;
}




/* home page start */

#homepage{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 25vh;
  background-image: url('/photo/cable.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation:anima1 6000ms  0ms infinite ;
}
#homepage h1{
  font-size: 50px;
     color: #0082e6;
}

/* @keyframes anima1{
  51%{
    background-image: url('/photo/harddisk.jpg');
  }
} */


/* homepage end */




/*start of the product styles*/
.product-section, .request-section{
  margin: 40px auto;
  width: 80%;
  height: 80vh;
  
}

h2 {
  text-align: center;
  color: #0082e6;
}



label {
  display: block;
  margin-bottom: 10px;
}

.product-section input[type="text"] {
  width: 200px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  text-align: left; /* Align the input to the left */
}

table {
  width: 100%;
  border-collapse: collapse;

}


th, td {
  padding: 10px;
  text-align: left;
}

/* thead {
  background-color: #f0f0f0;
} */

tbody tr:nth-child(odd) {
  background-color: #EEF9FC ;
}

.pagination-controls {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #0082e6b9;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}




/*end of the product*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
 
  /* background-color: #0082e682; */
}



td button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  color: white;
  border: none;
}

td  .verfiybtn{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: green;

}

td .declinebtn{
  background-color: red;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

td button:hover{
  font-size: 12px;
}




#adduser{
margin-bottom: 50px;
padding-top: 50px;

}




    


/* for staff member transaction errorMessage*/

#errorMessage{
  text-align: center;
  color: green;
}






#request{
  height: 90vh;
 
 
}

#request h2{
  color: #0082e6cb;
  font-size: 40px;
}

#request .mb-3 input{

     background-color: #EEF9FC;
}



#request  select{

  background-color: #EEF9FC;
}

#request button{
  background-color: #0082e6;
  margin-top: 15px;
 
}
#request button:hover{
  
  font-size: 17px;
 
}

.staffheader{
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 7vw;
  background-color: #0082e6b9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.staffheader h1{ 
  color: white;
}

.staffheader .links{
  display: flex;
  column-gap: 30px;
  
}

.staffheader   .dropdown i {
  color: white;
}

.staffheader  .dropdown i:hover {
  scale: 1.05;
}




.staffheader .links a{ 
    text-decoration: none;
    color: white;
    font-size: 25px;

 }

   .staffheader .links a:hover{ 
     scale: 1.05;
}  


 

#menubar{
  color: white;
}

 .menu-bar{
  display: none;
 }



 #addProductForm input {
  background-color: #EEF9FC;
 }

 #adduser select {
  background-color: #EEF9FC;
 }


 


 




 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .managertransactionanchor{
  color: white;
}
.fa-user-circle{
  font-size: 34px; /* Adjust the size as needed */
 
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0082e6;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: nowrap;
  border-radius: 10px;
  top: 100%; /* Position the top of the dropdown at the bottom of the parent element */
  left: 50%; /* Position the left of the dropdown at 50% of the parent element */
  transform: translateX(-50%); /* Use transform to center the dropdown horizontally */
}



.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  size: 18px;
  display: block;
  text-decoration: none;
  color: black;
  padding: 2px 16px;
  padding-bottom: 10px;
  margin-top: 10px;
  background: none;
  border-bottom: 1px solid rgba(2, 112, 139, 0.733);
  
} 





.staffheader .dropdown-content a:hover{
  color: #01080f;
scale: 1;
background: none;


}




  body.userhelp-open {
    overflow: hidden; /* Prevent scrolling of the body when userhelp is open */
}

.userhelp {
  display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* Enable vertical scrolling */
    z-index: 9999;
    background-color: white;
    color: #0082e6;
    padding: 5vh 5vw; /* Add padding as needed */
}



.userhelp p, ol{
  color: black;
}


/* edit-password-section */

.full-screen-edit-section {
  display: none; 
  justify-content: center;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2; /* Optional background color */
  position: fixed;
  z-index: 100000;
  top: 0%;
  left: 0%;
  right: 0%;
  /* width: 80%;
  height: 80%; */
}




@media screen and (max-width:900px) {

  .dropdown-content{
    background-color: #2c3e50;
  }

  .staffheader .links{
    display:none;
    
    
  }
  .menu-bar{
      display: block;
     }

     .staffheader   .addedlink{
      overflow-x: hidden;
      display: flex;
      /* transition: all 1s  ease-in;    */
      background-color: #2c3e50;
      width: 100vw;
      height: 90vh;
      padding-top: 50px;
      text-transform: uppercase;
      flex-direction: column;
      row-gap: 50px;
      /* scroll-behavior: unset; */
      /* justify-content: space-evenly; */
      align-items: center;
      position: fixed;
      top: 0;
      right: 0; 
      left: 0; 
      margin-top: 70px;
      padding-bottom: 50px;
      
  }

  .staffheader  .addedlink a{
       
    font-size: 20px;
       
}

.staffheader  .addedlink a:hover{
       
  color: #0082e6;
  background-color: #2c3e50;
     
}

.staffheader  .addedlink .dropdown-content a:hover{
       
  color: #0082e6;
  background-color: #2c3e50;
  scale: 1;
}
    

/* .staffheader   .addedlink a:hover{
       
  background-color: none;
  color: #0082e6;

  
} */

/* .staffheader   .links a:hover{
       
  background-color: none;
  color: #0082e6;

  
} */




.staffheader select{
  width: 150px;
}

/* .staffheader select{
  background-color: black;
  color: white;
} */

/* .staffheader select:hover,select:checked,select:focus{
background-color: black;
color: white;
} */


footer p {
  
        font-size: 12px;   
 
}

 }


 @media screen and (max-width:553px) {


  #product{
    height: auto;
  }
  
  
  }



  